.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.project-title {
  font-size: var(--title-font);
  color: var(--title-color);
  padding: 1rem;
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-link {
  color: white;
  font-size: var(--title-font);
  padding: 1rem;
  transition: 0.3s all ease;
}

.project p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494949;
  font-size: var(--font-small);
}

.project-link:hover {
  color: var(--hover-color);
}

@media (max-width: 480px) {
  .project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project-link {
    font-size: 1.375rem;
  }

  .project p {
    margin-top: 2rem;
    text-align: center;
    width: 300px;
  }
}
