.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 14rem 3rem;
}

.project-title {
  font-size: 1.5rem;
  padding: 1rem;
  color: #494949;
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-link {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  transition: 0.3s all ease;
}

.project p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494949;
  font-size: 1rem;
}

.project-link:hover {
  color: #b6b6b6;
}

@media (max-width:480px) {
  .project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 12rem 0;
  }

  .project-link{
    font-size: 1.375rem;
  }

  .project p{
    margin-top: 2rem;
    text-align: center;
    width: 300px;
  }
}