.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  font-family: "Space Mono", monospace;
}

.text {
  color: white;
  font-size: 3rem;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: blinkEffect 0.5s step-end infinite;
}

@keyframes blinkEffect {
  from {
    border-right-color: rgb(255, 255, 255);
  }

  to {
    border-right-color: transparent;
  }
}