.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  height: 100vh;
}

.skill-title {
  font-size: var(--title-font);
  color: var(--title-color);
  margin: 1rem;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
}

.skill {
  font-size: 3rem;
  color: white;
  margin: 0.5rem;
  border-bottom: 2px solid white;
  transition: 0.3s all ease;
}

.skill:hover {
  color: var(--hover-color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

@media (max-width: 660px) {
  .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
  }

  .skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem 0rem;
    width: 100%;
  }

  .skill {
    margin: 1rem;
    font-size: 1.375rem;
    opacity: 0.75;
  }
}

@media (min-width: 661px) and (max-width: 900px) {
  .skills {
    gap: 3rem;
    min-width: 661px;
  }

  .skill-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
  }

  .skill {
    margin: 1rem;
    font-size: 1.375rem;
  }
}
