.about{
  margin: 0 3rem;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  color: #9e9e9e;
  margin: 1rem;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.about-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  justify-items: center; 
  align-items: center;
  margin-left: 4rem;
  gap: 20px;
}

.skill-comp{
  margin: 1rem;
}
