.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: var(--title-font);
  color: var(--title-color);
  padding: 0.5rem 2rem;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: end;
}
.about-text {
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
  line-height: 2rem;
}

.about-img {
  padding: 1rem;
  max-width: 450px;
}

.job-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.job-card {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  max-width: 375px;
  height: 340px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  margin: 3rem;
  padding: 1.5rem;
  margin-top: 6rem;
  color: white;
}

.job-company,
.job-title,
.job-date {
  font-size: 1.5rem;
}

.job-desc {
  font-size: 1rem;
  margin-top: 1rem;
  color: var(--title-color);
}

.edu-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 375px;
  height: 340px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  margin: 3rem;
  padding: 1.5rem;
  margin-top: 6rem;
  color: white;
}

.edu-img {
  margin: 1rem;
  max-width: 160px;
  height: auto;
}

.edu-name {
  font-size: 1.25rem;
}

.edu-department,
.edu-date {
  font-size: 1rem;
  color: var(--title-color);
}

@media (max-width: 660px) {
  .about {
    text-align: center;
    height: auto;
    margin-top: 4rem;
  }

  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin: 0 auto;
    max-width: 360px;
  }
  .about-img {
    max-width: 375px;
  }

  .job-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .job-card,
  .edu-card {
    margin: 2rem 0;
  }
}

@media (min-width: 661px) and (max-width: 900px) {
  .about {
    height: auto;
    max-width: 100%;
  }

  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

    .job-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .job-card,
  .edu-card {
    margin: 2rem 0;
  }
  
}
