.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 14rem 3rem;
}

.about-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: var(--title-font);
  color: var(--title-color);
  padding: 0.5rem 2rem;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: end;
}
.about-text {
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
  line-height: 2rem;
}

.about-img {
  padding: 1rem;
  max-width: 450px;
}

@media (max-width: 660px) {
  .about {
    text-align: center;
    margin: 14rem 0;
    padding: 0;
  }

  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin: 0 auto;
    max-width: 360px;
  }
  .about-img {
    max-width: 375px;
  }
}


@media (min-width: 661px) and (max-width: 900px) {
  .about{
    max-width: 100%;
  }

  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
}