.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24rem 0;
}

.contact-title{
    font-size: 1.5rem;
    color: #494949;
}

.contact-links{
    display: flex; 
}

.contact-link{
    font-size: 3rem;
    padding: 2rem;
    color: white;
    transition: .3s all ease;
}

.contact-link:hover{
    color: #b6b6b6;
}
