
.menu {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.95); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hamburger-menu {
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100; 
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu ul li {
  color: white;
  padding: 1rem;
  transition: .3s all ease;
}

.menu ul li a {
  font-size: 2rem;
  text-decoration: none;
}

.menu ul li:hover {
  color: var(--hover-color);
  cursor: pointer;
}
