* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
  background-color: var(--background-color);
}

a {
  list-style: none;
  text-decoration: none;
  border: none;
  color: inherit;
}
