@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

/* <weight>: Use a value from 300 to 700  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Red Hat Text", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
